/* line 7, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
body {
  background-color: #E14B3B;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  /* line 13, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  body .introduction {
    margin-top: 40px;
    font-size: 40px; }
    /* line 18, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    body .introduction .highlight {
      color: #f9dbd7;
      font-weight: 900; }
