/* line 7, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
body {
  background-color: #E14B3B;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }
  /* line 13, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  body .introduction {
    margin-top: 40px;
    font-size: 30px; }
    /* line 18, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    body .introduction .highlight {
      color: #f9dbd7;
      font-weight: 900; }

/* line 27, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
.postcard-background {
  background-color: #333;
  border-bottom: 15px solid #FFF;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(106, 39, 34, 0.6);
  box-shadow: -1px 1px 1px 1px rgba(106, 39, 34, 0.6);
  position: relative; }
  /* line 33, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .postcard-background .weather-conditions {
    z-index: 2000;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    text-align: center;
    color: #FFF; }
    /* line 41, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .postcard-background .weather-conditions h1 {
      font-size: 65px;
      margin: 0 auto;
      font-weight: 100; }
    /* line 47, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .postcard-background .weather-conditions h1::after {
      content: "\00b0";
      position: relative;
      vertical-align: super;
      font-size: 30px;
      font-weight: 100; }
    /* line 54, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .postcard-background .weather-conditions h1, .postcard-background .weather-conditions .conditions {
      text-shadow: 0 1px 2px #1D5987; }

/* line 60, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
.postcard {
  position: relative;
  overflow: hidden;
  height: 475px;
  left: 0;
  right: 0;
  top: 0; }
  /* line 70, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .postcard.night {
    opacity: .7; }

/* line 76, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
.weather-control-panel {
  max-height: 0;
  background: #ca2f1f;
  overflow: hidden;
  cursor: pointer;
  font-weight: 100;
  color: #FFF;
  -webkit-transition: max-height .3s ease-out;
  -moz-transition: max-height .3s ease-out;
  -ms-transition: max-height .3s ease-out;
  -o-transition: max-height .3s ease-out;
  transition: max-height .3s ease-out; }
  /* line 89, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel.visible {
    max-height: 2000px;
    -webkit-transition: max-height .3s ease-in;
    -moz-transition: max-height .3s ease-in;
    -ms-transition: max-height .3s ease-in;
    -o-transition: max-height .3s ease-in;
    transition: max-height .3s ease-in; }
  /* line 98, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel .row-panel {
    margin: 40px auto; }
  /* line 102, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel .controls-button-wrapper {
    margin: 0 auto;
    text-align: center; }
  /* line 107, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel .controls-button-group {
    margin: 25px auto;
    text-align: center; }
    /* line 110, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .weather-control-panel .controls-button-group .btn {
      border: 1px solid #810000;
      color: #810000;
      background: transparent; }
      /* line 115, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
      .weather-control-panel .controls-button-group .btn:active {
        background-color: #bd2c1d; }
  /* line 122, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel .condition {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center; }
    /* line 127, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .weather-control-panel .condition .condition-wrapper {
      border-radius: 4px 4px 2px 2px;
      color: #810000;
      padding: 15px 0 5px;
      border: 1px solid transparent; }
      /* line 132, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
      .weather-control-panel .condition .condition-wrapper .meteocon {
        font-size: 60px;
        line-height: 50px;
        text-align: center;
        display: block; }
    /* line 142, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .weather-control-panel .condition.selected .condition-wrapper {
      border: 1px solid #810000; }
    /* line 147, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
    .weather-control-panel .condition:hover .condition-wrapper, .weather-control-panel .condition.selected .condition-wrapper {
      color: #FFF;
      background-color: #bd2c1d; }

/* line 159, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
.weather-control-panel-button {
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.1);
  color: #FFF;
  margin: 10px 10px;
  text-align: center;
  padding: 8px 12px;
  outline: none;
  box-shadow: 0 0px 2px #1D5987;
  text-shadow: 0 1px 2px #1D5987; }
  /* line 170, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel-button:hover {
    box-shadow: 0 0px 5px #1D5987;
    text-shadow: 1px 1px 5px #1D5987; }
  /* line 174, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
  .weather-control-panel-button:active {
    box-shadow: 0 0px 1px #1D5987;
    text-shadow: 0px 0px 1px #1D5987; }

/* line 183, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range] {
  margin-top: 45px;
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*fix for FF unable to apply focus style bug */
  border: 1px solid #CA2F1F;
  background: #BD2C1D; }

/* line 193, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #BD2C1D;
  border: none;
  border-radius: 3px; }

/* line 199, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #810000;
  margin-top: -4px; }

/* line 208, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]:focus {
  outline: none; }

/* line 211, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #BD2C1D; }

/* line 215, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-moz-range-track {
  height: 5px;
  background: #BD2C1D;
  border: none;
  border-radius: 3px; }

/* line 221, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #810000; }

/*hide the outline behind the border*/
/* line 230, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px; }

/* line 235, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-ms-track {
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent; }

/* line 248, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px; }

/* line 252, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-ms-fill-upper {
  background: #BD2C1D;
  border-radius: 10px; }

/* line 256, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #810000; }

/* line 263, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #BD2C1D; }

/* line 266, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/home.css.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #ccc; }
