/* line 2, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#ocean {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 260px;
  height: 250px;
  background: #409396;
  /* Old browsers */
  background: -moz-linear-gradient(top, #409396 0%, #306175 91%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #409396), color-stop(91%, #306175));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #409396 0%, #306175 91%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #409396 0%, #306175 91%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #409396 0%, #306175 91%);
  /* IE10+ */
  background: linear-gradient(to bottom, #409396 0%, #306175 91%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#409396', endColorstr='#306175',GradientType=0 );
  /* IE6-9 */ }

/* line 21, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#ocean.mostly-cloudy {
  background: #c3e4ef;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c3e4ef 0%, #306175 54%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3e4ef), color-stop(54%, #306175));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c3e4ef 0%, #306175 54%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c3e4ef 0%, #306175 54%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c3e4ef 0%, #306175 54%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c3e4ef 0%, #306175 54%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3e4ef', endColorstr='#306175',GradientType=0 );
  /* IE6-9 */ }

/* line 33, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#ocean.storm {
  background: #7d9a9e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7d9a9e 0%, #306175 54%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d9a9e), color-stop(54%, #306175));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7d9a9e 0%, #306175 54%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7d9a9e 0%, #306175 54%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7d9a9e 0%, #306175 54%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7d9a9e 0%, #306175 54%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d9a9e', endColorstr='#306175',GradientType=0 );
  /* IE6-9 */ }

/* line 45, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#sutro-tower {
  background: url(/images/sutro-tower.png) no-repeat;
  position: absolute;
  left: 414px;
  top: 120px;
  width: 20px;
  height: 80px;
  z-index: 10;
  background-size: contain; }

/* line 57, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#sutro-hill {
  background: url(/images/headland.png) no-repeat;
  position: absolute;
  left: 43px;
  top: 193px;
  width: 700px;
  height: 104px;
  z-index: 10; }

/* line 67, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#sutro-hill-2 {
  background: url(/images/headland.png) no-repeat;
  position: absolute;
  left: 363px;
  top: 209px;
  width: 700px;
  height: 104px;
  z-index: 10; }

/* line 77, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#distant-hill-3 {
  background: url(/images/forefront_hill.png) no-repeat;
  position: absolute;
  left: -65px;
  top: 250px;
  width: 700px;
  height: 391px;
  z-index: 10; }

/* line 87, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#distant-hill {
  background: url(/images/headland.png) no-repeat;
  position: absolute;
  left: 560px;
  top: 230px;
  width: 700px;
  height: 391px;
  z-index: 15; }

/* line 97, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#distant-hill-2 {
  background: url(/images/headland.png) no-repeat;
  position: absolute;
  left: 173px;
  top: 244px;
  width: 700px;
  height: 391px;
  z-index: 20; }

/* line 107, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#forefront-hill {
  background: url(/images/forefront_hill.png) no-repeat;
  position: absolute;
  left: 358pxpx;
  top: 285px;
  width: 700px;
  height: 391px;
  z-index: 25; }

/* line 117, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#city-hill {
  background: url(/images/forefront_hill.png) no-repeat;
  position: absolute;
  left: -40px;
  top: 275px;
  width: 700px;
  height: 391px;
  z-index: 29; }

/* line 127, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#skyline {
  background: url(/images/skyline.png) no-repeat;
  position: absolute;
  left: 50px;
  top: 265px;
  width: 120px;
  height: 60px;
  z-index: 31;
  background-size: contain; }

/* line 138, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#skyline-front {
  background: url(/images/skyline2.png) no-repeat;
  position: absolute;
  left: 40px;
  top: 255px;
  width: 120px;
  height: 60px;
  z-index: 31;
  background-size: contain; }

/* line 149, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#city {
  position: absolute;
  background: url(/images/city.png) no-repeat;
  left: -5px;
  top: 276px;
  width: 350px;
  height: 120px;
  z-index: 29;
  background-size: contain; }

/* line 160, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#city2 {
  position: absolute;
  background: url(/images/city.png) no-repeat;
  left: 45px;
  top: 285px;
  width: 350px;
  height: 120px;
  z-index: 29;
  background-size: contain; }

/* line 171, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#headland {
  background: url(/images/headland.png) no-repeat;
  position: absolute;
  left: 385px;
  top: 280px;
  width: 720px;
  height: 391px;
  z-index: 30; }

/* line 181, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#headland-cliff {
  position: absolute;
  left: 626px;
  top: 333px;
  width: 280px;
  height: 75px;
  z-index: 40; }

/* line 190, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#bridge {
  background: url(/images/gg2.png) no-repeat;
  position: absolute;
  left: -100px;
  top: 115px;
  width: 770px;
  height: 450px;
  z-index: 45;
  background-size: contain; }

/* line 201, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#weather_background {
  z-index: 0;
  height: 290px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

/* line 210, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#weather_midground {
  z-index: 10;
  height: 260px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

/* line 219, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#weather_foreground {
  z-index: 50;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

/* line 228, /Users/sean/Development/cannuk/middleman/personal-site-static/source/stylesheets/landscape.css.scss */
#fog-front {
  z-index: 50;
  top: 220px;
  position: absolute;
  height: 260px;
  right: 0;
  left: 0; }
